{{page-title "Ecosystem"}}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><LinkTo @route="index">Ecosystems</LinkTo></li>
    <li class="breadcrumb-item active" aria-current="page">{{this.model.name}}</li>
  </ol>
</nav>

<h1>{{this.model.name}}</h1>

<ul class="nav">
  <li class="nav-item">
    <LinkTo @route="ecosystem.ecosystem" class="nav-link">General</LinkTo>
  </li>
  <li class="nav-item">
    <LinkTo @route="ecosystem.ecosystem.profiles" class="nav-link">Profiles</LinkTo>
  </li>
</ul>

{{outlet}}
