<h1>{{this.model.name}}</h1>

<ul class="nav">
  <li class="nav-item">
    <LinkTo @route="ecosystem.settings" class="nav-link">General</LinkTo>
  </li>
  <li class="nav-item">
    <LinkTo @route="ecosystem.settings.profiles" class="nav-link">Profiles</LinkTo>
  </li>
  <li class="nav-item">
    <LinkTo @route="ecosystem.settings.channels" class="nav-link">Channels</LinkTo>
  </li>
  <li class="nav-item">
    <LinkTo @route="ecosystem.settings.repos" class="nav-link">Repositories</LinkTo>
  </li>
</ul>

{{outlet}}
