
@import "ember-bootstrap/bootstrap";
@import "node_modules/bootstrap-icons/font/bootstrap-icons";

section {
  margin-top: ($spacer * .75) !important;
  margin-bottom: ($spacer * .75) !important;
}

.sonja-fill-window {
  height: 100vh;
}

.sonja-log-panel {
  overflow-y: scroll;
}

.container {
  height: 100vh;
}

.sonja-success { 
  color: $white;
  background-color: $green-500;
}

.sonja-error { 
  color: $white;
  background-color: $red-500;
}

.sonja-stalled { 
  color: $white;
  background-color: $red-500;
}

.sonja-active { 
  color: $black;
  background-color: $yellow-500;
}

.sonja-new { 
  color: $white;
  background-color: $gray-600;
}

.sonja-package { 
  color: $teal-600;
  background-color: $teal-100;
  border-radius: var(--bs-border-radius-sm);
}

.sonja-recipe { 
  color: $blue-600;
  background-color: $blue-100;
  border-radius: var(--bs-border-radius-sm);
}

.sonja-dependency-list {
  list-style-type: none;
  padding-left: 0;
}

.sonja-dependency-list ul li {
  list-style-type: none;
  padding-left: $spacer;
}
