<section>
  <h2>Channels</h2>

  <p>
    Conan <em>channels</em> are the last part of the Conan package reference, e.g.
    <code>stable</code> in <code>hello/1.0.0@mycompany/stable</code>. A channel
    is assigned to a git branch or a git branch pattern. For each commit to the
    channel branch in a repository a new Conan package will be built in the 
    channel.
  </p>
</section>

{{outlet}}
