<section>
  <h2>Repositories</h2>

  <p>
    Each <em>repository</em> corresponds to exactly one Conan package recipe. 
    A repository contains the location of the Git repository and the path
    to the Conan recipe in this repository.
  </p>
</section>

{{outlet}}