{{page-title "Sonja"}}

<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <LinkTo @route="application" class="navbar-brand">Sonja</LinkTo>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline">
        <button type="button" class="btn btn-sm btn-outline-success" {{on "click" this.logOut}}>Logout</button>
      </form>
    </div>
  </nav>

  {{outlet}}
</div>
