{{page-title "Conan CI"}}

<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <LinkTo @route="application" class="navbar-brand">Conan CI</LinkTo>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline">
        <button class="btn btn-sm btn-outline-success">Logout</button>
      </form>
    </div>
  </nav>

  {{outlet}}
</div>
