<h1>Ecosystems</h1>

<div class="card-deck">
  {{#each this.model as |ecosystem|}}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ecosystem.name}}</h5>
        <p class="card-text">User: {{ecosystem.user}}</p>
        <LinkTo @route="ecosystem" @model={{ecosystem}} class="btn btn-primary">Open</LinkTo>
      </div>
    </div>
  {{/each}}
</div>