<h1>New Ecosystem</h1>

<section>
  <BsForm @onSubmit={{action "createEcosystem"}} @model={{this.ecosystem}} as |form|>
    <form.element @controlType="input" @label="Name" @property="name" />
    <LinkTo @route="index" class="btn btn-secondary">Cancel</LinkTo>
    <form.submitButton>Create</form.submitButton>
  </BsForm>
</section>