{{page-title "Settings"}}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><LinkTo @route="index" class="breadcrumb-item">Home</LinkTo></li>
    <li class="breadcrumb-item active" aria-current="page">Settings</li>
  </ol>
</nav>

<h1>Settings</h1>

<ul class="nav">
  <li class="nav-item">
    <LinkTo @route="settings.index" class="nav-link">Configuration</LinkTo>
  </li>
  <li class="nav-item">
    <LinkTo @route="settings.user" class="nav-link">My User</LinkTo>
  </li>
</ul>

{{outlet}}
